<?xml version="1.0"?>
<opencv_storage>
<Settings>
  <save_directory>""</save_directory>
  <showCaptures>0</showCaptures>
  <useMAVLinkForTrigger>0</useMAVLinkForTrigger>
  <useGPIOPinsAsTrigger>0</useGPIOPinsAsTrigger>
  <cam_l_ID>3</cam_l_ID>
  <cam_c_ID>1</cam_c_ID>
  <cam_r_ID>2</cam_r_ID>
  <use_cam_l>1</use_cam_l>
  <use_cam_c>1</use_cam_c>
  <use_cam_r>1</use_cam_r>
  <brightness>10</brightness>
  <exposure>160</exposure>
  <use_timestamp>0</use_timestamp>
  <resolution>2</resolution>
  <MAVLinkPort>/dev/ttyUSB0</MAVLinkPort>
  <baudrate>115200</baudrate></Settings>
</opencv_storage>
